body {
    margin: 0;
    font-family: Poppins;
    overflow: hidden;
}

hr {
    width: 220px;
}

.menu-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101827;
    height: 100vh;
}


.avatar {
    right: 60px;
}


.items-boxes {
    color: #EEF3FD;
}

.type {
    background-color: #192130;
    color: #EEF3FD;
}

.type label {
    color: #EEF3FD;
}

.title {
    font: UpperCase;
}

/* kpi */
.kpi-container {
    min-height: 150px;
    padding: 0px 20px;
  }
  .card-header-container {
    display: flex;
  }
  .card-title-container {
    flex: 1;
    line-height: 8px;
  }
  .card-title {
    color: #9396A1;
    text-transform: uppercase;
  }
  .card-icon-container {
    padding: 24px 0px;
  }
  .card-container {
    display: flex;
    height: 170px;
    justify-content: space-between;
  }
  .progress-bar {
    padding-top: 16px;
    width: 100%;
  }
  .increase {
    color: #14B8A7;
    margin-bottom: -4px;
  }
  .decrease {
    color: #CD4344;
    margin-bottom: -4px;
  }
  .gain {
    color: black;
    font-weight: 500;
  }
  .kpi-footer {
    color: #9396A1;
  }

  /* traffic */
  
  